<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <title>Gallery</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.png">
  <link href="../css/lightbox.css" rel="stylesheet">
</head>

<body>


  <!-- Header -->
  <header>

    <div class="subHeader">

      <!-- Logo -->

      <div class="logoCompany">
        <a href="../index.html" style="text-decoration: none; color: white;">
          <h1>Cary
            <span class="logoCompanyHalf">Bakery</span>
          </h1>
        </a>
      </div>


      <!-- Navigation Bar -->
      <nav>
        <a href="#" style="text-decoration:underline">Gallery</a>
        <a href="../views/presupuesto.html">Price</a>
        <a href="../views/contacto.html">Contacts</a>
      </nav>

    </div>

  </header>


  <article>
    <div class="subheading">
      <h2>OUR PASTRIES</h2>
    </div>

    <!-- Text -->

    <div class="aboutPastries">
      Posuere urna nec tincidunt praesent semper feugiat nibh sed. Proin nibh nisl condimentum id venenatis a
      condimentum vitae sapien. Nulla pellentesque dignissim enim sit amet. Urna id volutpat lacus laoreet non
      curabitur gravida. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Cursus risus at ultrices
      mi tempus imperdiet nulla. Dolor purus non enim praesent elementum facilisis leo vel fringilla. Pulvinar mattis
      nunc sed blandit libero volutpat sed cras ornare. Lacus viverra vitae congue eu consequat ac. Ligula ullamcorper
      malesuada proin libero nunc consequat. Id donec ultrices tincidunt arcu non sodales neque sodales ut.
    </div>
  </article>

  <!-- Part with images -->
  <div class="blockImages">
    <div class="item-1">
      <a href="../images/gallery/1.jpg" data-lightbox="galleryImages">
        <img class="imagesGrid" src="../images/gallery/1.jpg" alt="imagen 01">
      </a>
    </div>
    <div class="item-2">
      <a href="../images/gallery/2.jpg" data-lightbox="galleryImages">
        <img class="imagesGrid" src="../images/gallery/2.jpg" alt="imagen 02">
      </a>
    </div>
    <div class="item-3">
      <a href="../images/gallery/3.jpg" data-lightbox="galleryImages">
        <img class="imagesGrid" src="../images/gallery/3.jpg" alt="imagen 03">
      </a>
    </div>
    <div class="item-4">
      <a href="../images/gallery/4.jpg" data-lightbox="galleryImages">
        <img class="imagesGrid" src="../images/gallery/4.jpg" alt="imagen 04">
      </a>
    </div>
    <div class="item-5">
      <a href="../images/gallery/5.jpg" data-lightbox="galleryImages">
        <img class="imagesGrid" src="../images/gallery/5.jpg" alt="imagen 05">
      </a>
    </div>
    <div class="item-6">
      <a href="../images/gallery/6.jpg" data-lightbox="galleryImages">
        <img class="imagesGrid" src="../images/gallery/6.jpg" alt="imagen 06">
      </a>
    </div>
    <div class="item-7">
      <a href="../images/gallery/7.jpg" data-lightbox="galleryImages">
        <img class="imagesGrid" src="../images/gallery/7.jpg" alt="imagen 07">
      </a>
    </div>
    <div class="item-8">
      <a href="../images/gallery/8.jpg" data-lightbox="galleryImages">
        <img class="imagesGrid" src="../images/gallery/8.jpg" alt="imagen 08">
      </a>
    </div>
    <div class="item-9">
      <a href="../images/gallery/9.jpg" data-lightbox="galleryImages">
        <img class="imagesGrid" src="../images/gallery/9.jpg" alt="imagen 09">
      </a>
    </div>
    <div class="item-10">
      <a href="../images/gallery/10.jpg" data-lightbox="galleryImages">
        <img class="imagesGrid" src="../images/gallery/10.jpg" alt="imagen 10">
      </a>
    </div>
    <div class="item-11">
      <a href="../images/gallery/11.jpg" data-lightbox="galleryImages">
        <img class="imagesGrid" src="../images/gallery/11.jpg" alt="imagen 11">
      </a>
    </div>

  </div>



  <!-- Section of Footer -->

  <footer>
    <div class="locationAndIcons">
      <div class="sectionFooter1">
        <h4 class="headingFooter">Location</h4>
        <p class="adressFooter">Málaga, street Alferez Delgado 5</p>
      </div>
      <div class="sectionFooter2">
        <a href="#"><img src="../images/favicon_instagram.png" alt="Icon Instagram"></a>
        <a href="#"><img src="../images/favicon_facebook.png" alt="Icon Facebook"></a>
      </div>
    </div>
    <div class="sectionFooter3">
      © 2023 Cary Bakery
    </div>
  </footer>

  <script src="../js/lightbox-plus-jquery.js"></script>
</body>